.cart-screen {
  position: absolute;
  background-color: var(--white-color);
  background-color: var(--gray-2);
  border: 1px solid #610802;
  padding: 10px 5px;
  top: 100%;
  right: -20px;
  width: 320px;
  z-index: 10;
  border-radius: 5px;
}

.screen-info {
  font-size: 1.6rem;
  text-align: center;
  display: block;
  padding: 6px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.screen-header {
  padding: 8px 3px;
  border-bottom: 1px solid var(--gray-1);
}

.total-copy {
  font-size: 1.5rem;

  & .price-total {
    color: #d51204;
    font-size: 1.8rem;
  }
}

.table {
  overflow: scroll;
  max-height: 200px;
}

.table-head,
.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-row:not(:last-child) {
  margin-bottom: 5px;
}

.table-head span {
  font-size: 1.3rem;
  font-weight: bold;
}

.table-head > span,
.table-row > span {
  width: 24%;
  text-align: center;
}

.table-head > span:not(:last-child),
.table-row > span:not(:last-child) {
  margin-right: 10px;
}

.table-row span {
  font-size: 1.3rem;
}

.img-item {
  width: 50px;
}

.screen-footer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #000;
}

.screen-footer .btn {
  border: 1px solid #000;
  width: 80%;
  padding: 12px 15px;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #610802;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fff;
  transition: all 0.4s;
}

.screen-footer .btn:hover,
.screen-footer .btn:active {
  background-color: #fff;
  color: #610802;
  border-radius: 0;
}
