.logo {
  font-size: 2rem;
  text-transform: uppercase;
}

.header-flex {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  height: 5rem;
  box-shadow: 0 3px 3px var(--shadow-40);
  background-color: var(--nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
}

.list-link {
  font-size: 1.5rem;
  color: var(--secondary-text);
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;

  &:hover {
    border-bottom: 2px solid var(--secondary-text);
  }
}

.list-item:not(:last-child) {
  margin-right: 1rem;
  display: inline-block;
}

.header-shape {
  width: 25rem;
  height: 15rem;
  background: linear-gradient(135deg, #d51204, #610802);
  position: absolute;
  top: -10rem;
  left: -5rem;
  transform: rotate(-70deg);
  z-index: -10;
  box-shadow: 0 0px 4px #610802;
}

.logo {
  color: var(--secondary-text);
  cursor: pointer;
}

.header-btn {
  font-size: 1.8rem;
  color: var(--primary-text);

  &:hover {
    border-bottom: 2px solid var(--primary-bg);
    opacity: 0.9;
  }
}

.btn-login {
  margin-right: 1rem;
}

/*----------------------------------------*/
/* side-nav */

.side-nav {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 65%;
  background: #23282d;
  box-shadow: -2px 0 8px #610802;
  color: #fff;
  padding-top: 5rem;
  // opacity: 0.9;
  z-index: 10;
}

.side-item:not(:last-child) {
  margin-bottom: 1rem;
}

.side-link {
  font-size: 2.2rem;
  display: inline-block;
  width: 100%;
  padding: 1rem 5rem;
  cursor: pointer;
  color: var(--secondary-text);
  z-index: 10;
}

.side-link:hover {
  background-color: #f3f3f388;
}

.side-nav-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: var(--gray-4);
  opacity: 0.5;
  filter: blur(10);
}

my-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  z-index: 100;
}

/*-----------------------------*/
/* Style of profile  section    */
.header-profile {
  position: relative;
}

.icon-wrap {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--gray-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.icon-wrap:not(:last-child) {
  margin-right: 2rem;
}

.nav-icon {
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--secondary-bg);
}

.icon-down {
  fill: var(--secondary-bg);
}

.profile-spot {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-spot:hover .icon-down,
.profile-spot:active .icon-down {
  fill: #d51204;
  stroke: #d51204;
  transition: all 0.4s;
}

.img-wrap {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.img-profile {
  width: 100%;
  height: 100%;
}

.profile-list {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  width: 200px;
  display: block;
  border: 1px solid var(--gray-2);
  border-radius: 5px;
  top: 100%;
  transform: translateY(5px);
  right: 0;
  background-color: var(--gray-2);
  z-index: 100;
}

.profile-line {
  width: 100%;
  height: 0.4px;
  display: inline-block;
  background-color: var(--gray-3);
  margin: 1rem 0;
}

.profile-item {
  padding: 8px 1rem;
  font-size: 1.6rem;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  color: var(--primary-text);
}

.item-hover:hover,
.item-hover:active {
  background-color: #610802dc;
  color: var(--gray-1);
}

.cart-wrap {
  background-color: inherit;
  position: relative;
}

.cart-wrap .nav-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.card-count {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: -10px;
  transform: translateY(-10px);
  width: 25px;
  height: 25px;
  background-color: #f02849;
  border-radius: 50%;
  padding: 2px;
  color: var(--gray-1);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
