:root {
  // Main Colors
  --primary-bg: #27ae60;
  --secondary-bg: #610802;

  --primary-text: #1c1e21;
  --secondary-text: #f5f6f7;
  --tertiary-text: #610802;

  // Colors For Gradient
  --nav-bg: #0c3661;
  // --nav-bg-2: #1e8449;

  --placeholder-text: #8d949e;

  // --gray
  --gray-1: #f7f7f7;
  --gray-2: #eee;
  --gray-3: #777;
  --gray-4: #999;
  --gray-5: #333;

  // --shadow
  --shadow-20: rgba(0, 0, 0, 0.2);
  --shadow-40: rgba(0, 0, 0, 0.4);
  --shadow-60: rgba(0, 0, 0, 0.6);
  --shadow-80: rgba(0, 0, 0, 0.8);

  --menu-btn-color: #145b32;

  // Colors
  --white-color: #ffffff;

  // Buttons
  --btn-main-bg: #27ae60;
  --btn-main-text: #ffffff;

  --btn-google-bg: #4285f4;

  --btn-disable-bg: #777;
  --btn-active-bg: #27ae60;

  // Icons
  --icon-strok-default: #777;
  --icon-strok-success: #27ae60;
  --icon-strok-fail: #d51204;

  // Inputs
  --input-placeholder: #777;

  // Text
  --error-text: #d8000c;

  // profile
  --panel-bg-1: #131061;
  --panel-bg: #0a5cad;
  // --panel-bg: #161270;

  --spinner-stroke: #0a5cad;
}
