.product-page {
  padding: 6rem 2rem;
  position: relative;
}

.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 24%;
}

.card-item:not(:last-child) {
  margin-bottom: 3rem;
}

.product-loading-icon {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.product-loading-icon::ng-deep circle {
  stroke: var(--spinner-stroke);
}
