<div class="order-tab">
  <h2 class="order-title">Manage Your Orders</h2>
  <div class="tab-content">
    <p *ngIf="!loading && orders!.length === 0" class="message">
      There's No any orders!!!
    </p>
    <my-select
      *ngIf="orders!.length > 0"
      (selected)="onClickSelected($event)"
      [options]="options"
    ></my-select>
    <div *ngIf="orders!.length > 0" class="table order-table">
      <div class="table-head">
        <div class="table-row">
          <span>Date</span>
          <span>Time</span>
          <span>Pyment</span>
          <span>Status</span>
          <span>Details</span>
          <span *ngIf="show()">Control</span>
        </div>
      </div>
      <div class="table-body">
        <div
          *ngFor="let order of orders | filterByStatus: selected"
          class="table-row"
        >
          <span>{{ order.createdAt && order.createdAt | date }}</span>
          <span>{{
            order.createdAt && order.createdAt | date: "h:mm:ss a"
          }}</span>
          <span>{{ order.price | currency }}</span>
          <span>{{ order.status }}</span>
          <span><button class="btn-details">Show details</button></span>
          <span *ngIf="show()">
            <button class="btn-cancel">Cancel Order</button>
          </span>
        </div>
      </div>
    </div>
    <mat-spinner
      *ngIf="loading"
      class="loading-icon"
      strokeWidth="4"
    ></mat-spinner>
  </div>
</div>
