<main class="home-page">
  <section class="section-header">
    <div class="header-content">
      <h2 class="home-title">Shop Easy Now !</h2>
      <p class="header-text">
        Welcome here, you can browser many of products in our apps, and you make
        your order. Don't wory your Order will arrived you as possible as, and
        you can track it
      </p>
    </div>
    <a routerLink="/products" class="btn-link_browse"
      >Browser your Favorite Products</a
    >
  </section>
</main>
