@import "../../scss/main.scss";

.section-header {
  height: 80vh;
  background-color: var(--gray-1);
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 68vh, 0 100%);
  position: relative;
}

.home-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  color: var(--tertiary-text);
  margin-top: 2rem;
  text-shadow: 1px 2px var(--gray-3);
}

.header-text {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--gray-5);
}

.btn-link_browse {
  display: inline-block;
  margin-top: 10rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 1px solid var(--btn-main-bg);
  border-radius: 50px;
  background-color: var(--btn-main-bg);
  color: var(--btn-main-text);
  transition: all 0.4s;
  position: relative;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all 0.2s;
    background-color: var(--primary-bg);
  }

  &:hover:after {
    transform: scaleX(1.2) scaleY(1.7);
    opacity: 0;
  }
}
