.profile-page {
  padding: 50px 40px;
}

.profile-content {
  display: flex;
}

.panel {
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.panel-top {
  background-color: var(--panel-bg-1);
  width: 300px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;

  .user-name {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

.panel-bottom {
  background-color: var(--panel-bg);
  width: 250px;
  height: 400px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--panel-bg-1);
}

.panel-content {
  height: 88%;
}

.user-img-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.39);
}

.list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.list-link,
.btn-out {
  font-size: 1.8rem;
  color: var(--gray-2);
  padding: 15px 25px;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.list-link:hover {
  border-left: 5px solid var(--gray-1);
  transition: all 0.4s;
  color: #fff;
}

.active-link {
  border-left: 5px solid var(--gray-1);
  transition: all 0.3s;
}

.profile-tabs {
  padding-top: 50px;
}

.hide {
  display: none !important;
}
