/* You can add global styles to this file, and also import other style files */

@import "./app/scss/variables";
@import "./app/scss/base";
@import "./app/scss/typography";

:root {
  --primary-color-back: #{$primary-color-back};
  --secondary-color-back: #{$secondary-color-back};
  --primary-color-front: #{$primary-color-front};
}
