<div class="max-row px-1 checkout">
  <div class="table-wrap">
    <div class="table">
      <div class="table-head">
        <span>Item Image</span>
        <span>Name</span>
        <span>Price/unit</span>
        <span>Count</span>
        <span>Total</span>
        <span>Remove</span>
      </div>
      <div class="table-content">
        <div *ngFor="let item of items; index as i" class="table-row">
          <span>
            <img class="img-item" src="{{ item.images[0] }}" />
          </span>
          <span>{{ item.name }}</span>
          <span>{{ item.price }}</span>
          <span class="count-wrap">
            <mat-icon
              [ngClass]="{ 'icon-disable': item.quantity === 1 }"
              (click)="handleDecreaseCount(i)"
              class="count-icon"
              >chevron_left</mat-icon
            >
            <input class="count-input" value="{{ item.quantity }}" readonly />
            <mat-icon (click)="handleIncreaseCount(i)" class="count-icon"
              >chevron_right</mat-icon
            >
          </span>
          <span>{{ item.price * item.quantity }}</span>
          <span>
            <button (click)="handleClearItem(i)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </span>
        </div>
      </div>
      <div class="last-row">
        <span class="last-total">Total Price</span>
        <span class="last-price">{{ totalPrice | currency }}</span>
      </div>
    </div>
    <div *ngIf="items.length > 0" class="check-footer">
      <button
        [ngClass]="{ 'btn-disable': loading }"
        (click)="submitOrder()"
        class="btn-order"
      >
        Buy Now
      </button>
    </div>
    <mat-spinner
      class="loading-icon"
      *ngIf="loading"
      strokeWidth="4"
    ></mat-spinner>
  </div>
</div>
